<h1>All Events:</h1>
<br>
Upcoming Events:
<br>
<% if @upcoming_events %>
    <% @upcoming_events.each do |event| %>
    <%= event.name %>
    <% end %>
<% end %>
<br>
Past Events:
<br>
<% if @previous_events %>
    <% @previous_events.each do |event| %>
    <%= event.name %>
    <% end %>
<% end %>